@import "~bootstrap/scss/bootstrap-utilities";

.lazzle {
    max-width: 960px;
    margin-bottom: 5em;

    section {
        margin-bottom: 2rem;
    }
}

.world {
    border: 1px solid grey;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    user-select: none;
}

.block {
    position: absolute;
    transition: top calc(0.2s / var(--speed, 1)) ease-out 0.1s;

    &.destroyed {
        animation: block-destroyed calc(0.2s / var(--speed, 1)) ease-out;
        animation-fill-mode: forwards;
    }
    &::after {
        /* border as shadow, translucent to have it adapt to the block's color */
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: transparent;
        border: 1px solid #000000;
        border-right-color: #FFFFFF;
        border-bottom-color: #FFFFFF;
        opacity: 0.2;
    }
}

@keyframes block-destroyed {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

.matchingBlock {
    position: absolute;
    animation: block-matched calc(0.2s / var(--speed, 1)) ease-out;
    animation-fill-mode: forwards;

    svg {
        width: 100%;
        height: 100%;
    }
}

@keyframes block-matched {
    0% {
        opacity: 0;
        transform: scale(4);
    }
    100% {
        opacity: 1;
    }
}

.resultContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fade-in 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

.result {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.goalContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    animation: fade-in 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.editorSwitchMode {
    label {
        border-bottom-width: 0;
        margin-left: 0 !important;

        &:first-of-type {
            border-bottom-left-radius: 0;
        }
        &:last-of-type {
            border-bottom-right-radius: 0;
        }
    }
}

.editor {
    .block, .goalContainer {
        pointer-events: none;
    }
}

.blockAidLines {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.blockAidLinesRow {
    display: flex;
}

.blockAidLinesCell {
    border: 1px solid rgb(200, 200, 200);
    border-bottom-width: 0;
    border-right-width: 0;
    cursor: pointer;

    &:last-child {
        border-right-width: 1px;
    }
    &:hover {
        background-color: rgb(230, 230, 230);
    }
}
.blockAidLinesRow:last-child .blockAidLinesCell {
    border-bottom-width: 1px;
}

.exportOutput {
    font-family: var(--bs-font-monospace);
}