@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bi {
    /* bootstrap icon svg */
    display: 'inline-block';
    vertical-align: -.1em;
}

/* equal height cards in a row, placing the actions to the bottom of the card */
.cardRow {
    align-items: stretch;
    .card {
        height: 100%;
    }
    .card-img-top {
        overflow: hidden; /* in case the element has not same border radius top it would overtower */
    }
    .card-body {
        display: flex;
        flex-direction: column;
    }
    .cardActions {
        margin-top: auto;
    }
}